body, html {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.container .row {
  display: inline-flex;
  justify-content: center;
}

.container .row .item {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.item:hover img {
  opacity: 0.3;
}

img {
  width: 60%;
} 

p {
	font-family: Raleway;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 20px;
}
