body {
  background: #232323;
  margin: 0;
  font-size: 12px;
  font-family: "Montserrat", "Avenir";
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  color: white;
  background: steelblue;
  margin: 0;
  padding: 20px 0;
  font-size: 3rem;
}

button {
  height: 100%;
  color: lightseagreen;
  font-size: inherit;
  margin: 0 5px 0 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-webkit-transition: all 0.3s;
  outline: none;
  border: none;
  background: none;
}

#messageDisplay {
  width: 15%;
}

#messageDisplay, button {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.msgToggle {
  color: red!important;
}

.selected, button:hover {
  color: white;
  background: lightseagreen;
}

.container {
  vertical-align: middle;
  margin: 20px auto;
  width: 80%;
  max-width: 700px;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-webkit-transition: background 0.6s;
}

#stripe {
  background: white;
  height: 80px;
  text-align: center;
}

#resetBtn {
  color: orange!important;
}
